/DriverApp/packages
/DriverApp/DriverApp.v12.suo
/DriverApp/DriverApp/DriverApp/obj
/DriverApp/DriverApp/DriverApp/bin
/DriverApp/DriverApp/DriverApp.Droid/obj
/DriverApp/DriverApp/DriverApp.Droid/bin
/DriverApp/DriverApp/DriverApp.iOS/obj
/DriverApp/DriverApp/DriverApp.iOS/bin
/DriverApp/DriverApp/DriverApp.Droid/DriverApp.Droid.csproj.user
/DriverApp/Components/Thumbs.db
/DriverApp/Components/Android.GeoLocation/Geolocator.Plugin/obj
/DriverApp/Components/Android.GeoLocation/Geolocator.Plugin/bin
/DriverApp/Components/Android.GeoLocation/Geolocator.Plugin.Abstractions/obj
/DriverApp/Components/Android.GeoLocation/Geolocator.Plugin.Abstractions/bin
/DriverApp/Components/Android.GeoLocation/Geolocator.Plugin.Android/obj
/DriverApp/Components/Android.GeoLocation/Geolocator.Plugin.Android/bin
