/DriverApp/packages
/DriverApp/DriverApp.v12.suo
/DriverApp/DriverApp/DriverApp/obj
/DriverApp/DriverApp/DriverApp/bin
/DriverApp/DriverApp/DriverApp.Droid/obj
/DriverApp/DriverApp/DriverApp.Droid/bin
/DriverApp/DriverApp/DriverApp.iOS/obj
/DriverApp/DriverApp/DriverApp.iOS/bin
